###############################
# Build output
###############################
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

###############################
# IDE files
###############################
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
./idea/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

###############################
# OS files
###############################
.DS_Store

###############################
# Server files
###############################
server/*
!server/server.jar